@import "../../styles/app";



.userTableWrapper {
   padding-top: 6px;
   padding-left: 15px;
   padding-right: 30px;

}

        

@keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

.download{
   float: right;
   margin: 30px 0 30px 30px;
}

