@import "../../styles/app";

.title {
    height: 60px;
    color: goldenrod;
}

body::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.errorTableWrapper {
   padding-top: 98px;
   padding-left: 15px;
   padding-right: 30px;
}





.errorTable {
    border-collapse: collapse;
    color: black;
    width: 100%;


table, th, td {
    border: none;

}

td, th {
    padding: 10px;

}

th {
    color: goldenrod;
}

tr {
    animation: fadeIn 0.5s; 
    color: #a7a8c2;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

tr:nth-child(even) {
    background-color: #252953;
}
tr:nth-child(odd) {
    background-color: #202348;
}

.description {
    width: 50%;
}

.count, .occurrences, .isSolved{
    padding: 10px;
    width: 15px;
}

.lastOccurence {
    width: 8%
}

.solvedDate {
    width: 5%
}

.prevCount {
    width: 2%
}

.isSolved {
    width: 10%
}

}

