@import "../../styles/app";


table {
  animation: fadeIn 0.5s;
}

.reactTable {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 5px 5px;
    color: #a7a8c2;
  }

  input {
    background-color: #14162e;
    border: none;
    color: #a7a8c2;

  }

  .columnTitle {
    color: goldenrod;
    text-transform: none;
    padding-left: 10px;
    font-size: 20px;
  }

  tr:nth-child(even) {
    background-color: #252953;
  }
  tr:nth-child(odd) {
    background-color: #202348;
  }
}

.pageSizeSelect {
  animation: fadeIn 0.5s; 
  height: 35px;
  width: 80px;
  border: none;
  border-right: 10px solid transparent;
  border-left: 8px solid transparent;

  border-radius: 5px;
  background-color: #4e548f;
  color: white;
}

.tableNavigation {
  animation: fadeIn 0.5s; 
  float: right;

  Button {
    border-color: #434a7e;
    color: #434a7e;
    margin-left: 2px;
  }
}

.tableFooter {
    padding-top: 10px;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}