@import "../../styles/app";



.userInfoWrapper {
   padding-top: 30px;
   padding-right: 30px;
}

.title {
    color: rgb(194, 12, 12);
    font-size: 30px;
    font-weight:900;
    margin-left: 30px;
}
